html/src/partials/main_section.jade
main.main-section
	img.img-responsive(src="/img/instagram_tmp.png")

	h3.page-title Новости
	.news-section
		.news-item
			img.news-thumb(src="/img/news_tmp.png")
			.news-content
				h4
					a(href="#") Обновление серии мастерклассов
				.news-text
					p «Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.
				.date 12 сентября 2014

		.news-item
			img.news-thumb(src="/img/news_tmp.png")
			.news-content
				h4
					a(href="#") Обновление серии мастерклассов
				.news-text
					p «Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.
				.date 12 сентября 2014

		.news-item
			img.news-thumb(src="/img/news_tmp.png")
			.news-content
				h4
					a(href="#") Обновление серии мастерклассов
				.news-text
					p «Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.
				.date 12 сентября 2014

		.news-item
			img.news-thumb(src="/img/news_tmp.png")
			.news-content
				h4
						a(href="#") Обновление серии мастерклассов
				.news-text
					p «Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.
				.date 12 сентября 2014

	.paginator
		a.page-left
			i.sprite.sprite-arrow-left(href="#")
		ul
			li.active
				a 1
			li
				a 2
			li
				a 3
			li
				a 4
		a.page-right
			i.sprite.sprite-arrow-right(href="#")

html/dest/partials/main_section.html

<main class="main-section"><img src="/img/instagram_tmp.png" class="img-responsive"/>
  <h3 class="page-title">Новости</h3>
  <div class="news-section">
    <div class="news-item"><img src="/img/news_tmp.png" class="news-thumb"/>
      <div class="news-content">
        <h4><a href="#">Обновление серии мастерклассов</a></h4>
        <div class="news-text">
          <p>«Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.</p>
        </div>
        <div class="date">12 сентября 2014</div>
      </div>
    </div>
    <div class="news-item"><img src="/img/news_tmp.png" class="news-thumb"/>
      <div class="news-content">
        <h4><a href="#">Обновление серии мастерклассов</a></h4>
        <div class="news-text">
          <p>«Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.</p>
        </div>
        <div class="date">12 сентября 2014</div>
      </div>
    </div>
    <div class="news-item"><img src="/img/news_tmp.png" class="news-thumb"/>
      <div class="news-content">
        <h4><a href="#">Обновление серии мастерклассов</a></h4>
        <div class="news-text">
          <p>«Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.</p>
        </div>
        <div class="date">12 сентября 2014</div>
      </div>
    </div>
    <div class="news-item"><img src="/img/news_tmp.png" class="news-thumb"/>
      <div class="news-content">
        <h4><a href="#">Обновление серии мастерклассов</a></h4>
        <div class="news-text">
          <p>«Да здравствует, мыло душистое!» или увлекательный мастер-класс по мыловарению.</p>
        </div>
        <div class="date">12 сентября 2014</div>
      </div>
    </div>
  </div>
  <div class="paginator"><a class="page-left"><i href="#" class="sprite sprite-arrow-left"></i></a>
    <ul>
      <li class="active"><a>1</a></li>
      <li><a>2</a></li>
      <li><a>3</a></li>
      <li><a>4</a></li>
    </ul><a class="page-right"><i href="#" class="sprite sprite-arrow-right"></i></a>
  </div>
</main>
