html/dest/partials/sidebar_right.html

<aside class="sidebar-right">
  <button class="btn btn-mail">Написать нам</button>
  <div class="download-item"><a href="#">Скачать презентацию</a>
    <div class="filesize">(1,2 mb)</div>
  </div>
  <div class="download-item"><a href="#">Скачать прайс</a>
    <div class="filesize">(0,4 mb)</div>
  </div>
  <div class="soc-section">
    <div class="soc-item"><img src="/img/vk_tmp.png" class="img-responsive"/></div>
    <div class="soc-item"><img src="/img/fb_tmp.png" class="img-responsive"/></div>
    <div class="soc-item"><img src="/img/ok_tmp.png" class="img-responsive"/></div>
  </div>
</aside>

html/src/partials/sidebar_right.jade
aside.sidebar-right
  button.btn.btn-mail Написать нам
  .download-item
    a(href="#") Скачать презентацию
    .filesize (1,2 mb)
  .download-item
    a(href="#") Скачать прайс
    .filesize (0,4 mb)
  .soc-section
    .soc-item
      img.img-responsive(src="/img/vk_tmp.png")
    .soc-item
      img.img-responsive(src="/img/fb_tmp.png")
    .soc-item
      img.img-responsive(src="/img/ok_tmp.png")
