html/dest/partials/sidebar_left.html

<aside class="sidebar-left">
  <div class="categories">
    <div class="category-section">
      <h2>Мастер классы handmade:</h2>
      <ul>
        <li><a href="#">Мыловарение</a></li>
        <li><a href="#">Гелевые свечи</a></li>
        <li><a href="#">Бижутерия, украшения</a></li>
        <li><a href="#">Бумажная пластика</a></li>
        <li><a href="#">Оригами</a></li>
        <li><a href="#">Мыловарение</a></li>
        <li><a href="#">Гелевые свечи</a></li>
        <li><a href="#">Бижутерия, украшения</a></li>
        <li><a href="#">Бумажная пластика</a></li>
        <li><a href="#">Оригами</a></li>
      </ul><a class="more-categories"><span class="text">показать все</span><span class="arr">&darr;</span></a>
    </div>
    <div class="category-section">
      <h2>Мастер-классы по росписи:</h2>
      <ul>
        <li><a href="#">Пряники имбырные</a></li>
        <li><a href="#">Банданы</a></li>
        <li><a href="#">Бейсболки</a></li>
        <li><a href="#">Галстуки</a></li>
        <li><a href="#">Футболки</a></li>
      </ul><a class="more-categories"><span class="text">показать все</span><span class="arr">&darr;</span></a>
    </div>
    <div class="category-section">
      <h2>Мастер-классы по декорированию:</h2>
      <ul>
        <li><a href="#">Декупаж</a></li>
        <li><a href="#">Волшебные палочки</a></li>
        <li><a href="#">Вуалетки</a></li>
        <li><a href="#">Карнавальные маски</a></li>
        <li><a href="#">Веера</a></li>
      </ul><a class="more-categories"><span class="text">показать все</span><span class="arr">&darr;</span></a>
    </div>
    <div class="category-section">
      <h2>Вкусныё мастер-классы:</h2>
      <ul>
        <li><a href="#">Кулинарный курс</a></li>
        <li><a href="#">Суши</a></li>
        <li><a href="#">Тирамису</a></li>
        <li><a href="#">Роспись пряников, куличей, блинов</a></li>
        <li><a href="#">Шоколадные конфеты</a></li>
      </ul><a class="more-categories"><span class="text">показать все</span><span class="arr">&darr;</span></a>
    </div>
    <div class="category-section">
      <h2>Анимация, активности:</h2>
      <ul>
        <li><a href="#">Акваргрим, боди-арт, тату</a></li>
        <li><a href="#">Твистинг</a></li>
        <li><a href="#">Плетение косичек</a></li>
        <li><a href="#">Висаж, прически</a></li>
        <li><a href="#">Шаржист, художник</a></li>
      </ul><a class="more-categories"><span class="text">показать все</span><span class="arr">&darr;</span></a>
    </div>
  </div>
  <div class="banner-rectangle">Хочешь интересно провести время?<br>Мастер-классы в студии&nbsp;<a href="http://podelkinclub.ru">Podelkinclub.ru</a></div>
</aside>

html/src/partials/sidebar_left.jade
aside.sidebar-left
  .categories
    .category-section
      h2 Мастер классы handmade:
      ul
        li
          a(href="#") Мыловарение
        li
          a(href="#") Гелевые свечи
        li
          a(href="#") Бижутерия, украшения
        li
          a(href="#") Бумажная пластика
        li
          a(href="#") Оригами
        li
          a(href="#") Мыловарение
        li
          a(href="#") Гелевые свечи
        li
          a(href="#") Бижутерия, украшения
        li
          a(href="#") Бумажная пластика
        li
          a(href="#") Оригами

      a.more-categories
        span.text показать все
        span.arr &darr;

    .category-section
      h2 Мастер-классы по росписи:
      ul
        li
          a(href="#") Пряники имбырные
        li
          a(href="#") Банданы
        li
          a(href="#") Бейсболки
        li
          a(href="#") Галстуки
        li
          a(href="#") Футболки
      a.more-categories
        span.text показать все
        span.arr &darr;

    .category-section
      h2 Мастер-классы по декорированию:
      ul
        li
          a(href="#") Декупаж
        li
          a(href="#") Волшебные палочки
        li
          a(href="#") Вуалетки
        li
          a(href="#") Карнавальные маски
        li
          a(href="#") Веера
      a.more-categories
        span.text показать все
        span.arr &darr;

    .category-section
      h2 Вкусныё мастер-классы:
      ul
        li
          a(href="#") Кулинарный курс
        li
          a(href="#") Суши
        li
          a(href="#") Тирамису
        li
          a(href="#") Роспись пряников, куличей, блинов
        li
          a(href="#") Шоколадные конфеты
      a.more-categories
        span.text показать все
        span.arr &darr;

    .category-section
      h2 Анимация, активности:
      ul
        li
          a(href="#") Акваргрим, боди-арт, тату
        li
          a(href="#") Твистинг
        li
          a(href="#") Плетение косичек
        li
          a(href="#") Висаж, прически
        li
          a(href="#") Шаржист, художник
      a.more-categories
        span.text показать все
        span.arr &darr;

  .banner-rectangle Хочешь интересно провести время?<br>Мастер-классы в студии&nbsp;
      a(href="http://podelkinclub.ru") Podelkinclub.ru
